In [ ]:
print("Welcome")

Welcome

In [2]:
str = "Welcome"
for i in str:
    print(i)

W
e
l
c
o
m
e

In [4]:
str = "Welcome"
for i in range(len(str)):
    print(str[i])

W
e
l
c
o
m
e

In [6]:
for i in range(len(str)-1,-1,-1):
    print(str[i])

e
m
o
c
l
e
W

In [7]:
print(str[::-1])

emocleW

In [8]:
print(str[-5])

l

In [9]:
print(str[5])

m

In [10]:
print(str*2)

WelcomeWelcome

In [19]:
for i in range(len(str)):
    print(str[i])
for i in range(len(str)-1,-1,-1):
    print(str[i],"\n")

W
e
l
c
o
m
e
e

m

o

c

l

e

W

In [20]:
str1 = "Python"
str2 = str1[::-1]
print(str1,str2)

Python nohtyP

In [27]:
for i in str1:
    print(i,end =" ")
print("\n")
for j in str2:
    print(j,end = " ")

P y t h o n

n o h t y P

In [30]:
for i in str1:
    print(i)
    for j in str2:
        print(j)
        break

P
n
y
n
t
n
h
n
o
n
n
n

In [31]:
print(str1+str2)

PythonnohtyP

In [33]:
print(str1+" "+str2)

Python nohtyP

In [36]:
if 'n' in str1:
    print("Membership")
else:
    print("Not there")

Membership

In [37]:
str1 = "string"
str2 = "      string"
str3 = "string      "
str4 = "      string     "
if str1 == str2:
    print("str1 and str2 are same")
elif str1 == str3:
    print("str1 and str3 are same")
elif str1 == str4:
    print("str1 and str4 are same")
else:
    print("none are same")

none are same

In [46]:
str1 = "string"
str2 = "      string"
str3 = "string      "
str4 = "      string     "
if str1 == str2.lstrip():
    print("str1 and str2 are same")
    
    if str1 == str3.rstrip():
        print("str1 and str3 are same")
    
    if str1 == str4.strip():
        print("str1 and str4 are same")
    
else:
    print("none are same")

str1 and str2 are same
str1 and str3 are same
str1 and str4 are same

In [58]:
str1 = "str1 and str2 are same"
n = str1.count("a")
print(n)
n = print(str1.count('s',0,len(str1)))

3
3

In [64]:
str1 = 'python python'

n = str1.count('o',3,len(str1))

print(n)

2

In [65]:
print(str1.replace('py','**'))

**thon **thon

In [67]:
str = "one two three four"

print(str.split(" "))

['one', 'two', 'three', 'four']

In [70]:
for i in str:
    print(str.split(" "))

['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']
['one', 'two', 'three', 'four']

In [72]:
str2 = str.split(" ")
for i in str2:
    print(i)

one
two
three
four

In [73]:
print('$'.join(str2))

one$two$three$four

In [75]:
a = "Hello World!, Welcome to Python"
n = a.find('o',0,len(a))
print(n)

4

In [93]:
i = 0
for i in len(a):
    n = a.find('o',i,len(a))
    if n!=-1:
        print("the 'o' find at position",n+1)
        i = n + 1
    else:
        i = i+1

TypeError: 'int' object is not iterable

In [94]:
n = a.find('o',i,len(a))
type(n)

int

In [98]:
str1 = "Hello World!, Welcome to Python"
sub = "o"

i = 0
flag = False

n = len(str1)

while i < n:
 pos = str1.find(sub,i,n)
 if pos != -1:
  print("found at position:", pos + 1)
  i = pos + 1
  flag = True
 else:
  i = i + 1

if flag == False:
 print("sub string not found")

found at position: 5
found at position: 8
found at position: 19
found at position: 24
found at position: 30

In [99]:
print(str1.upper())

HELLO WORLD!, WELCOME TO PYTHON

In [100]:
print(str1.title())

Hello World!, Welcome To Python

In [101]:
print(str1.lower())

hello world!, welcome to python

In [102]:
print(str1.swapcase())

hELLO wORLD!, wELCOME TO pYTHON

In [106]:
string = "one, two, three, four"
str1 = string.split(",")
print(str1)
str1.sort()

['one', ' two', ' three', ' four']

In [107]:
a = ['abc','cfg','xdc','gtg']
print(a)
print(a.sort())

['abc', 'cfg', 'xdc', 'gtg']
None

In [109]:
str = ['ball','cat','appple']
print(str.sort())

None